:root{
    --border-radius: 10px;
}
.main-widget-container{
    /* dimensions */
    height: 90vh;
    width: 400px;

    /* styling */
    background-color: white;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.main-widget-container .main-widget-background{
    /* dimensions */
    height: 100%;
    width: 100%;

    /* styling */
    background: linear-gradient(to bottom, #1B052E, #333368);

    /* positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-widget-container .main-widget-background .main-widget-mountain{
    width: 100%;    
}