:root{
    --border-radius: 20px;
}

@keyframes rain{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 20% 100%;
    }
}

.main-widget-container{
    /* dimensions */
    height: 90vh;
    width: 400px;

    /* styling */
    background-color: white;
    border-radius: var(--border-radius);
    overflow: hidden;
    filter: drop-shadow( 0px 0px 5px rgba(0,0,0,0.5));
}

.main-widget-container .main-widget-background{
    /* dimensions */
    height: 100%;
    width: 100%;    

    
    /* display */
    display: flex;
    flex-direction: column;    
    align-items: center;

    /* positioning */
    position: relative;
}

.main-widget-container .main-widget-background-rain{
    /* dimensions */
    height: 100%;
    width: 100%;    


    /* display */
    display: flex;
    flex-direction: column;    
    align-items: center;

    /* positioning */
    position: relative;
}

.main-widget-background-rain::after{
    content:'';
    left:0;
    top:0;
    height: 100%;
    width: 100%;    
    position: absolute;
    background: url('../images/rain.png');
    animation: rain 0.2s linear infinite;
}

.main-widget-mountain{
    width: 100%;    

    /* display */
    z-index: 0;
    position: absolute;
    bottom: 0;
}

.temperature-component-container{
    /* dimensions */
    margin-top:20%;

    /* display */
    display: flex;
    justify-content: center;
}