.search-bar-container {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 64%;
    transform: translate(-50%, -50%); 
  }
  
  .input {
    position: relative;
    flex: 1;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar-button {
    margin-left: 10px;
    padding: 10px 20px;
    /* background-color: #0095ff; */
    background-color: #7400b8;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-bar-button:hover {
    background-color: white;
    color: #7400b8;
  }
  
  @media (max-width: 990px) {
    .input {
      width: 55px;
      margin-left: 20px;
    }
    .search-bar-button{
      width: 60px;
      padding: 5px;
      
    }
  }
