.temperature-container{
    /* positioning */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
    /* dimensions */
    width: 60%;

    /* styling */
    font-family: var(--font-family);    
}

.temperature-container .temperature-current{    
    font-weight: 300;
    font-size: 2.7em;
    text-align: center;
    margin:0;
}

.temperature-container .temperature-city{
    margin: 0; 
    font-weight: 300;
    text-align: center;
}

.temperature-container .temperature-description{
    margin: 0; 
    font-weight: 500;
    text-align: center;
}

