:root{
    --border-radius: 20px;
}

.uv-widget-container{
    /* dimensions */
    height: 60vh;
    width: 400px;

    /* styling */
    background: linear-gradient(#1069f4, #000918) ;
    border-radius: var(--border-radius);
    overflow: hidden;
    filter: drop-shadow( 0px 0px 5px rgba(0,0,0,0.5));
    margin: 20px;
}


.uv-widget-container h1{
    margin-top: 100px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* medidor */
.gauge {
    width: 100%;
    max-width: 80%;
    font-size: 32px;
    color: #004033;
    padding-top: 10%;
    margin-left: 10%;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    background: #d9dbdd;
    padding-bottom: 50%;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #4c6eb0;
    transform-origin: center top;
    transition: transform 0.2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    background: #093f94;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    
  }

.uv-index-number {
  top: 20%;
  left: 45%;
  color: white;
  font-size: 400%;
  position: absolute;
  align-items: center;
}

@media (max-width: 768px) {
  .uv-index-number {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;
  }
}