:root{
    --border-radius: 20px;
}

.uv-widget-container{
    /* dimensions */
    height: 90vh;
    width: 400px;

    /* styling */
    background-color: #111111;
    border-radius: var(--border-radius);
    overflow: hidden;
    filter: drop-shadow( 0px 0px 5px rgba(0,0,0,0.5));
    margin: 20px;
}


.uv-widget-container p{
    margin-top: 100px;
    color: white;
    position: absolute;
    margin-left: 40%;
}

/* medidor */
.gauge {
    width: 100%;
    max-width: 250px;
    font-size: 32px;
    color: #004033;
    padding-top: 60px;
  }
  
  .gauge__body {
    width: 300px;
    height: 150px;
    background: #220135;
    position: absolute;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
    margin-left: 50px;
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #3a015c;
    transform-origin: center top;

    transition: transform 0.2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    background: #111111;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
  }


