.content{
    /* dimensions */
    height: 100%;
    
    /* positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family); 
}

@media (max-width: 500px) {
    .content{
        /* dimensions */
        height: 100%;
        
        /* positioning */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: var(--font-family); 
    }
  }